<div class="q-election-item">
  <div class="q-election-item-text">
    <div class="s-font-text-s q-election-item-text-party">{item.name}</div>
    {#if item.projection && item.projection.bestGuess}
      <div class="s-font-note q-election-item-text-current">~ {item.projection.bestGuess}%</div>
    {/if}
  </div>
  <div class="q-election-item-bar q-election-item-bar--projection s-color-gray-3">
    <div class="q-election-item-bar-color {item.colorClass}" style="left: {barWidthPositionLeftPercentage}%; width: {barWidthPercentage}%; {item.colorStyle}"></div>
  </div>
</div>

<script>
  export default {
    computed: {
      barWidthPercentage: ({ item, maxProjection }) => {
        if (!item.projection || item.projection.lower === undefined || !item.projection.upper === undefined) {
          return 0;
        }
        return (item.projection.upper / maxProjection * 100) - (item.projection.lower / maxProjection * 100);
      },
      barWidthPositionLeftPercentage: ({ item, maxProjection }) => {
        if (!item.projection || item.projection.lower === undefined) {
          return 0;
        }
        return (item.projection.lower / maxProjection * 100);
      }
    }
  }
</script>