<div class="q-item-container">
  <h3 class="s-q-item__title">{{title}}</h3>
  <Header subtitle='{{subtitle}}' isIntermediate='{{isIntermediate}}' updatedDate='{{updatedDate}}' />
  <div class="q-election-parties">
    <Threshold threshold='{{threshold}}' maxResult='{{maxResult}}' />
    {{#each partyItems as party}}
      <ElectionItem item='{{party}}' maxResult='{{maxResult}}' />
    {{/each}}
  </div>
  {{#if otherPartiesItem}}
    <div class="q-election-others {{thresholdSpaceClass}}">
      <ElectionItem item='{{otherPartiesItem}}' maxResult='{{maxResult}}' />
    </div>
  {{/if}}
  <Footer sources='{{sources}}' notes='{{notes}}' thresholdSpaceClass='{{thresholdSpaceClass}}'/>
</div>

<script>
  import Header from './Header.html';
  import Threshold from './Threshold.html';
  import ElectionItem from './ElectionItem.html';
  import Footer from './Footer.html';

  export default {
    computed: {
      sortedParties: (parties) => {
        return parties.sort(function(partyA, partyB) {
          if ((partyA.percentage === undefined && partyB.percentage === undefined) || (partyA.percentage === partyB.percentage)) {
            return 0;
          }
          if ((partyA.percentage === undefined && partyB.percentage !== undefined) || (partyA.percentage < partyB.percentage)) {
            return 1;
          }
          return -1;
        })
      },
      maxResult: (sortedParties) => {
        // if there are already any votes the first party 
        // of sorted list of party has max percentage
        let maxResult = 0;
        if (sortedParties[0] && sortedParties[0].percentage) {
          maxResult = sortedParties[0].percentage;
        }
        return maxResult;
      },
      enhancedParties: (sortedParties, maxResult) => {
        sortedParties.forEach(party => {
          // define width of each party's bar
          let width = '1px';
          let colorStyle = '';
          let colorClass = '';
          if (maxResult > 0 && party.percentage && party.percentage > 0) {
            let widthPercentage = party.percentage * 100 / maxResult;
            width = widthPercentage + '%';
          }
          party.width = width;
          
          // define color of each party's bar either via class attribute or color code
          if (party.color) {
            if (party.color.classAttribute) {
              colorClass = party.color.classAttribute;
            } else {
              colorStyle = 'background-color: ' + party.color.colorCode + ';';
            }
          }
          party.colorClass = colorClass;
          party.colorStyle = colorStyle;
          
        })
        
        let othersIndex = sortedParties.findIndex(party => {
          let othersPattern = /((.*(A|a)ndere.*)|(.*(S|s)onstig.*))/; 
          return othersPattern.test(party.name);
        })
        if (othersIndex >= 0) {
          let others = sortedParties.splice(othersIndex, 1);
          return {
            parties: sortedParties,
            others: others[0]
          }
        } else {
          return {
            parties: sortedParties
          }
        }
      },
      partyItems: (enhancedParties) => {
        return enhancedParties.parties
      },
      otherPartiesItem : (enhancedParties) => {
        return enhancedParties.others;
      },
      thresholdSpaceClass: (threshold, maxResult) => {
        if (threshold !== undefined && threshold > 0 && maxResult > 0) {
          return 'q-election-threshold-gap';
        }
        else '';
      }
    },

    components: {
      Header,
      Threshold,
      ElectionItem,
      Footer
    }
  };
</script>
