<div class="s-legend-icon-label">
  <div class="s-legend-item-label__item">
    <div class="s-legend-item-label__item__icon s-legend-item-label__item__icon--default s-viz-color-party-default-5">
    </div>
    <div class="s-legend-item-label__item__label">Hochrechnung</div>
  </div>
  <div class="s-legend-item-label__item">
    <div class="s-legend-item-label__item__icon">
      <div class="q-election-projection-legend-symbol-margin s-color-gray-5"></div>
    </div>
    <div class="s-legend-item-label__item__label">Fehlermarge</div>
  </div>
</div>