{{#if threshold && maxResult > 0}}
  <div class="q-election-threshold s-color-gray-3" style="left: {{(threshold * 100) / maxResult}}%;">
    <svg class="q-election-threshold-arrow" viewBox="0 0 7 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 5v15H3V5H0l3.5-5L7 5H4z" fill="currentColor" fill-rule="evenodd"/>
    </svg>
    <div class="q-election-threshold-text q-election-threshold-text--{{thresholdTextAlignClass}} s-font-note-s">{{threshold}} Prozent Hürde</div>
  </div>
{{/if}}

<script>
  export default {
    computed: {
      thresholdTextAlignClass : (maxResult, threshold) => {
        if (maxResult === 0 || ((threshold * 100 / maxResult) > 50)) {
          return "right";
        } else {
          return "left";
        }
      }
    }
  };
</script>

