.q-election {
  &-parties {
	  position: relative;
  }
  
  &-info {
		margin-bottom: 16px;
	}

  &-threshold {
    position: absolute;
    background-color: currentColor;
    width: 1px;
    top: 0;
    bottom: 0;

    &-arrow {
      position: absolute;
      bottom: -19px;
      height: 19px;
      left: -2px;
    }

    &-text {
      position: absolute;
      bottom: -19px;
      width: 150px;

      &--left {
        text-align: left;
        left: 10px;
      }

      &--right {
        text-align: right;
        right: 10px;
      }
    }

    &-offset {
      margin-bottom: 27px;
    }
  }

	&-item {
    &-bar {
      position: relative;
      height: 26px;
      background-color: currentColor; 
      margin-bottom: 10px;

      &-color {
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-text {
      background-color: currentColor;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      position: relative;
      z-index: 1;

      &-party {
        margin-right: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-current,
      &-previous {
        padding-right: 7px; 
      }

      &-trend {
        height: 14px;
        width: 14px;
      }
    }
	}

	&-footer {
		margin-top: 16px;
	}
}
